@model PizzaBox.Domain.Models.User

<!--First form-->
<h1>Please enter first and last name to login.</h1>

<form action="/Home/UserLogin" method="post">

  <label>User ID</label>
  <input type="number" asp-for="UserID"> <br>
  
  <label>First Name</label>
  <input type="text" asp-for="FirstName"> <br>

  <label>Last Name</label>
  <input type="text" asp-for="LastName"> <br>

  <button type="submit" id="Login" name="Login" value="Login">Login</button>
</form>

@{
  if (ViewData["ErrorMessage"] != null)
  {
    <h2 style="color: red">@ViewData["ErrorMessage"]</h2>
  }
}

<!--Second form-->
<h1>Don't have an account with us? Please enter and register here!</h1>

<form action="/Home/Register" method="post">
  
  <label>Please enter first name.</label>
  <input type="text" asp-for="FirstName"> <br>

  <label>Please enter your last name.</label>
  <input type="text" asp-for="LastName"> <br>
  
  <button type="submit" id="Register" name="Register" value="Register">Register</button>
</form>


